/* universal styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
:root {
  --primary-color: #ff5400;
  --paragraph-color: #5a5a5d;
  --title-color: #131318;
}
.primary-color {
  color: var(--primary-color);
}
.btn-primary {
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn-primary:hover {
  background: #c34303;
}
.hidden {
  display: none;
}

/* navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 3.25rem 10rem;
  align-items: center;
}

.nav-title {
  color: var(--title-color);
  font-size: 2.25rem;
  font-weight: 800;
  display: flex;
}
.navigation {
  display: flex;
  gap: 44px;
}
.navigation li {
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#home {
  color: var(--primary-color);
  font-weight: 700;
}
.hamburger {
  display: none;
}

/* banner section styles */
.banner-container {
  border-radius: 1rem;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("assets/images/banner.png");
  background-repeat: no-repeat;
  width: 1470px;
  height: 600px;
  margin: auto;
  text-align: center;
  background-size: cover;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  padding-top: 150px;
}
.banner-description {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  width: 676px;
  margin: auto;
  padding: 24px 0px;
}

.find-input {
  justify-content: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
}
.find-input input,
.find-input select {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: none;
}
.find-input ::placeholder,
.find-input select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
}
select.select-input {
  appearance: none;
  background-image: url("assets/logos/arrow.svg");
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-repeat: no-repeat;
}

.btn-find-now {
  display: flex;
  align-items: center;
  width: 174px;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 36px;
}
/* tour section styles */
.tour-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 130px 135px;
  gap: 200px;
}
.tour-section-text-container {
  width: 550px;
  height: 550px;
}
.tour-title {
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 24px;
}
.tour-description {
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  padding: 12px 0px;
}
.btn-read-more {
  font-size: 1.25rem;
  font-weight: 800;
  padding: 15px 34px;
  margin-top: 24px;
  margin-left: -20px;
}
.destination-section {
  text-align: center;
}
.destination-title {
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 800;
}
.destination-description {
  width: 643px;
  margin: 1.5rem auto;
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.destination-row-1,
.destination-row-2,
.destination-row-3 {
  display: flex;
  gap: 24px;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}
.row-1 {
  width: 573px;
  height: 300px;
}
.destination-row-2 {
  margin-top: -100px;
}
.row-1,
.row-2,
.row-3 {
  margin-top: 130px;
}
.destination-row-3 {
  margin-top: 24px;
}

.maldives {
  background: url("assets/images/maldives.png");
}
.indonesia {
  background: url("assets/images/indonesia.png");
}
.srilanka {
  background: url("assets/images/srilanka.png");
  width: 374px;
  height: 286px;
}
.northamerica {
  background: url("assets/images/northamerica.png");
  width: 474px;
  height: 286px;
}
.kashmir {
  background: url("assets/images/kashmir.png");
  width: 275px;
  height: 286px;
}
.bangladesh {
  background: url("assets/images/bangladesh.png");
  width: 473px;
  height: 300px;
}
.bandarban {
  background: url("assets/images/bandarban.png");
  width: 673px;
  height: 300px;
}
.places {
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}
.places:hover {
  transform: scale(1.05);
}

/* service section styles */
.service-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 50px;
}
.service-wrapper {
  padding: 1.5rem;
  margin-top: 50px;
  text-align: center;
}
.service-title {
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.service-description {
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  width: 643px;
  margin: auto;
}
.card {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  width: 573px;
  height: 284px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.card-title {
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 800;
}
.card-description {
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
  width: 486px;
  line-height: 1.625rem; /* 162.5% */
}
.pick-drop-service {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
/* deals section styles */
.deals-text-wrapper {
  text-align: center;
}
.deals-title {
  margin-top: 100px;
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 800;
}
.deals-description {
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  width: 643px;
  margin: 24px auto;
}
.time-and-place {
  display: flex;
  gap: 20px;
}
.deals-card-container {
  background: url("assets/images/deals1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 1470px;
  height: 600px;
  margin: 1.5rem auto;
  border-radius: 1rem;
}
.deals-card-container2 {
  background: url("assets/images/deals2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1470px;
  height: 600px;
  margin: 1.5rem auto;
  border-radius: 1rem;
}

.deals-card-text-wrapper {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  width: 529px;
  height: 300px;
  position: relative;
  top: 60px;
  left: 700px;
  padding: 90px;
}
.deals-card-text-wrapper2 {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  width: 529px;
  height: 300px;
  position: relative;
  top: 60px;
  left: 60px;
  padding: 90px;
}

.upper-text {
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
}
.deals-card-title {
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 800;
  padding: 25px 0px;
}
.deals-card-description {
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.deal-price {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 800;
  padding: 16px 0px;
}
.btn-book-now {
  font-size: 1.25rem;
  font-weight: 800;
  padding: 15px 34px;
  margin-top: 24px;
}
.btn-package {
  text-align: center;
  padding-bottom: 50px;
}

/* responsive styles */
/* mobile devices */
@media screen and (max-width: 600px) {
  nav {
    justify-content: space-between;
    padding: 3.25rem 1rem;
  }
  .nav-title {
    font-size: 1.34644rem;
    height: 30px;
  }
  .navigation li {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .banner-container {
    width: 335px;
    height: 583px;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
  }
  .banner-title {
    padding: 36px;
    font-size: 1.375rem;
  }
  .banner-description {
    width: 300px;
    height: 100px;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    margin: auto;
  }
  .find-input {
    flex-direction: column;
    width: 287px;
    align-items: center;
  }
  .find-input select,
  .find-input input,
  .btn-find-now {
    width: 255px;
    height: 52px;
  }
  .btn-find-now {
    padding: 0px 70px;
  }

  .tour-section {
    flex-direction: column;
    padding: 10px;
  }
  .tour-title {
    color: #131318;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 20px 0px;
    padding-left: 110px;
  }
  .tour-description {
    font-size: 0.875rem;
    width: 335px;
    margin: auto;
  }
  .tour-img img {
    width: 335px;
    height: 342px;
  }
  .btn-read-more {
    text-align: left;
    margin-top: 0px;
    margin-left: 40px;

  }
  .destination-title {
    font-size: 1.25rem;
  }
  .destination-description {
    width: 309px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .destination-row-1,
  .destination-row-2,
  .destination-row-3 {
    flex-direction: column;
    gap: 24px;
  }
  .places {
    width: 335px;
    height: 175px;
    background-size: cover;
    border-radius: 16px;
  }
  .row-1 {
    width: 335px;
    height: 176px;
  }
  .row-1,
  .row-2,
  .row-3 {
    margin-top: 60px;
  }
  .indonesia {
    margin-bottom: 120px;
  }
  .service-card-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .card {
    width: 335px;
    height: 289px;
    margin: auto;
  }

  .card-description {
    width: 100%;
  }
  .service-title {
    margin-top: -20px;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .service-description {
    width: 309px;
    margin: auto;
  }
  .deals-description {
    width: 309px;
    margin: auto;
    font-size: 0.875rem;
  }
  .deals-card-container,
  .deals-card-container2 {
    width: 335px;
    height: 500px;
    margin: auto;
    margin-bottom: -20px;
  }
  .deals-card-text-wrapper,
  .deals-card-text-wrapper2 {
    position: relative;
    left: 0px;
    top: 100px;
    padding: 0;
    width: 303px;
    height: 375px;
    margin: auto;
    margin-top: 50px;
    /* display: none; */
  }
  .btn-book-now {
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
  .upper-text {
    font-size: 1rem;
  }
  .deals-card-title,
  .deal-price {
    padding: 10px;
  }
  .deals-card-description {
    font-size: 0.875rem;
    padding: 10px;
  }
  .time-and-place img {
    width: 24px;
    height: 24px;
  }
  .time-and-place {
    flex-wrap: wrap;
    padding: 10px;
  }
  .btn-package {
    display: none;
  }
}

/* tablet devices */
@media screen and (min-width: 600px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    gap: 40px;
  }
  .banner-container {
    width: 735px;
    height: 583px;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
  }
  .banner-title {
    padding-top: 100px;
  }
  .find-input {
    flex-wrap: wrap;
    align-items: center;
  }
  .tour-section {
    flex-direction: column;
    padding: 10px;
  }
  .tour-img img {
    width: 735px;
    margin-top: -100px;
  }
  .destination-row-1,
  .destination-row-2,
  .destination-row-3 {
    flex-wrap: wrap;
    gap: 24px;
  }
  .indonesia {
    margin-top: -120px;
  }
}
